node_modules
.eslintcache
.updatable-packages
**/dist/es
**/dist/types
**/dist/locales
coverage
*.tgz
**/.tmp
**/.local-data
vitest.config.ts.timestamp*
**/.svelte-kit
**/test-results
.vercel
.env
.env.prod
working
